@import "typography";

// * {
//     border: 1px solid red;
// }

$primary-color: #4caf50;
$secondary-color: #ffeb3b;
$main-text-color: #d5f710;
$font-family: "Roboto", sans-serif;

body {
    background: #000;
}

br {
    @media (max-width: 767px) {
        display: none;
    }
}

header {
    .navbar-brand {
        font-size: 30px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        line-height: normal;
        span {
            color: #d5f710;
        }
    }
}

input {
    &:focus-visible {
        outline: none;
    }
}

.wd-nav {
    .wd-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            margin-top: 30px;
        }

        .btn-primary {
            background: #d5f710;
            color: #000;
            border: #d5f710 solid 2px;
            padding: 6px 14px;
            font-size: 17px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
            line-height: normal;
            border-radius: 5px;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                cursor: pointer;

                background: transparent;
                color: #d5f710;
            }
        }
        .btn-secondary {
            background: transparent;
            color: #d5f710;
            border: #d5f710 solid 2px;
            padding: 6px 14px;
            font-size: 17px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
            line-height: normal;
            border-radius: 5px;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                cursor: pointer;

                background: #d5f710;
                color: #000;
            }
        }
    }
}

.wd-webtech-msg {
    background-color: #000;
    padding: 10px 0;
    z-index: 1;
    .wd-subtitle {
        font-size: clamp(14px, 3vw, 17px);
        text-align: center;
    }
}

.wd-hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/hero_image.jpeg");
        background-size: cover;
        background-position: center;
        filter: blur(15px);
        filter: opacity(0.5);
        z-index: -1;
        border-bottom: #ffffff solid 2px;
    }

    .wd-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 90px;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            margin-top: 30px;
        }

        .btn-primary {
            background: #d5f710;
            color: #000;
            border: #d5f710 solid 2px;
            padding: 10px 20px;
            font-size: 20px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
            line-height: normal;
            border-radius: 5px;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                cursor: pointer;

                background: #000;
                color: #d5f710;
            }
        }
        .btn-secondary {
            background: transparent;
            color: #d5f710;
            border: #d5f710 solid 2px;
            padding: 10px 20px;
            font-size: 20px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
            line-height: normal;
            border-radius: 5px;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                cursor: pointer;

                background: #d5f710;
                color: #000;
            }
        }
    }
}

.wd-features {
    margin: -150px 0;
    padding-bottom: 200px;

    @media (max-width: 768px) {
        margin: 0;
        padding-top: 80px;
    }
    @media (max-width: 600px) {
        margin: 0;
        padding: 40px 0;
    }
    .wd-feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
        border: #f3f3f386 solid 2px;
        padding: 30px;
        height: 100%;
        background: #000;
    }

    .wd-feature-desc {
        color: #f3f3f38c;
    }
}

.wd-nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wd-about-section {
    padding: 100px 0;

    .wd-about-img {
        @media screen and (max-width: 768px) {
            overflow: hidden;
        }
    }
    .wd-about-content {
        margin-bottom: 30px;
        .wd-about-keys {
            margin-top: 30px;
            .wd-about-key {
                margin-bottom: 10px;
            }
        }
    }

    .wd-about-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-image: url("../images/about_image.jpeg");
        position: relative;

        &:after {
            content: "";
            position: absolute;
            top: 8%;
            left: 8%;
            width: 100%;
            height: 100%;
            background: none;
            opacity: 1;
            border: #d5f710 solid 2px;
            z-index: -1;
        }
    }
}

.wd-results {
    margin: 100px 0 200px;
    padding: 100px 0;
    position: relative;

    @media (max-width: 767px) {
        margin: 80px 0;
        padding: 0;
    }
    .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/hero_image.jpeg");
        background-size: cover;
        background-position: center;
        filter: blur(10px);
        z-index: -1;
    }
    .wd-result {
        margin-bottom: 30px;
        padding: 40px;
        background: #000;
        border: #d5f710 solid 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 100%;

        &-content {
            color: #f3f3f3;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        &-title {
            font-size: 30px;
            margin-bottom: 20px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
            line-height: normal;
            color: #d5f710;
            text-align: center;
        }

        &-desc {
            font-size: 16px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            color: #f3f3f3;
        }

        .bg-image {
            background-image: url("../images/hero_image.jpeg");
            background-size: cover;
            background-position: center;
            filter: blur(15px);
            filter: opacity(0.5);
        }
    }
}

.wd-divider {
    margin: 100px 0;
    background: #f3f3f386;
    height: 2px;
    width: 100%;
}

.wd-reasons-section {
    .wd-reasons-left-img {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &:after {
            content: "";
            position: absolute;
            top: -8%;
            left: -8%;
            width: 100%;
            height: 100%;
            background: none;
            opacity: 1;
            border: #d5f710 solid 2px;
            z-index: -1;
        }

        .top {
            position: absolute;
            top: 0px;
            left: -20px;
            width: 100%;
            height: 46%;
            background-image: url("../images/resons-1.avif");
            background-size: cover;
            background-position: center;
            z-index: 1;
        }

        .bottom {
            position: absolute;
            bottom: 0;
            left: -20px;
            width: 100%;
            height: 46%;
            background-image: url("../images/resons-2.avif");
            background-size: cover;
            background-position: center;
            z-index: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .wd-reasons-right-content {
        padding: 100px 0;

        .wd-reasons-title {
            font-size: 30px;
            margin-bottom: 20px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
            line-height: normal;
            color: #d5f710;
            text-align: center;
        }

        .wd-reason {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            margin-top: 30px;

            &-icon {
                i {
                    font-size: 30px;
                    color: #d5f710;
                    margin-bottom: 16px;
                }
            }
        }

        .wd-reason-content {
            color: #f3f3f3;
            display: flex;
            flex-direction: column;
            gap: 5px;

            .wd-reason-title {
                font-size: 20px;
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: 800;
                font-style: normal;
                line-height: normal;
                color: #f3f3f3;
            }

            .wd-reason-desc {
                font-size: 13px;
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                color: #f3f3f3ad;
            }
        }
    }
}

.wd-upcoming-events {
    padding: 100px 0;
    .wd-subtitle {
        margin-bottom: 30px;
    }
    .wd-event {
        margin-bottom: 30px;
        padding: 30px;
        background: #000;
        border: #d5f710 solid 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        &-img {
            font-size: 50px;
            color: #d5f710;
        }

        &-content {
            color: #f3f3f3;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        &-title {
            font-size: 30px;
            margin-bottom: 20px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
            line-height: normal;
            color: #f3f3f3;
            text-align: center;
        }

        &-desc {
            font-size: 16px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            color: #f3f3f3ad;
        }

        &-date {
            font-size: 16px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            color: #f3f3f3;
        }

        &-location {
            font-size: 16px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            color: #f3f3f3;
        }

        &-venue {
            font-size: 16px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            color: #f3f3f3;
        }

        &-seat {
            font-size: 16px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            color: #f3f3f3;
        }

        &-contact {
            font-size: 16px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            color: #f3f3f3;
        }
    }
}

.latest-events-section {
    .wd-btn-top {
        background-color: transparent;
        border: $main-text-color solid 2px;
        color: $main-text-color;
        transition: all 0.3s ease-in-out;
        width: 30%;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        line-height: normal;
        &:hover {
            background-color: $main-text-color;
            color: black;
        }
    }
    #latestEventsRow {
        .card {
            background-color: #000;
            border: #d5f710 solid 2px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            .card-header {
                color: $main-text-color;
                font-size: 65px;
                align-self: center;
                border-bottom: #f3f3f3 solid 2px;
            }
            .card-body {
                color: #f3f3f3;
                .card-title {
                    font-size: 30px;
                    margin-bottom: 20px;
                    font-family: "Montserrat", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 800;
                    font-style: normal;
                    line-height: normal;
                    color: #d5f710;
                    text-align: center;
                }
                .card-text {
                    font-size: 16px;
                    font-family: "Montserrat", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                    color: #f3f3f3ad;
                    span {
                        color: #f3f3f3;
                    }
                }
            }
            .card-footer {
                align-self: flex-end;
                border-top: #d5f710 solid 2px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 10px;
            }
        }
    }
}

//Add or Update Event
.wd-event-add-update {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/add_new-bg.jpeg");
        background-size: cover;
        background-position: center;
        filter: blur(50px);
        z-index: -2;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
    &-content {
        font-family: $font-family;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .wd-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            .back-icon {
                i {
                    font-size: 30px;
                    color: $secondary-color;
                    cursor: pointer;
                    transition: all 0.15s ease-in-out;
                    &:hover {
                        color: darken($secondary-color, 40%);
                    }
                }
            }
        }

        .wd-header .wd-header-content,
        .wd-main-content,
        .wd-input-field {
            margin-bottom: 1rem;
        }

        .wd-input-field {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .wd-header-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }

        .wd-form-control {
            width: 100%;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 2px solid #ced4da;
            border-radius: 0.4rem;
            padding: 10px 15px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: 1px solid darken($primary-color, 15%);
            &:focus {
                border-color: $primary-color;
                box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25);
            }
        }

        .wd-form-label {
            color: $secondary-color;
            font-weight: bold;
        }
        .wd-input-group {
            position: relative;

            .wd-datetimepicker-input {
                &::placeholder {
                    color: white;
                }
            }

            .wd-input-group-text {
                background-color: $secondary-color;
                border: none;
                color: black;
                i {
                    margin-right: 0.5rem;
                }
            }

            .wd-input-group-append {
                .wd-input-group-text {
                    cursor: pointer;
                }
            }
        }

        .wd-button-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }

        .wd-btn {
            padding: 0.375rem 0.75rem;
            border-radius: 0.25rem;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            &.wd-btn-success {
                background-color: transparent;
                border: $main-text-color solid 2px;
                color: white;
                transition: all 0.3s ease-in-out;
                width: 50%;
                &:hover {
                    background-color: $main-text-color;
                    color: black;
                }
            }
            &.wd-btn-primary {
                background-color: $secondary-color;
                color: black;
                border: none;
                transition: all 0.3s ease-in-out;
                width: 50%;
                &:hover {
                    background-color: darken($secondary-color, 40%);
                }
            }
        }
    }
}

//Events List Page

.wd-events-list {
    .wd-header-btn-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #000;

        @media screen and (max-width: 767px) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1;
            padding: 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
    }
    .wd-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        .back-icon {
            i {
                font-size: 30px;
                color: $secondary-color;
                cursor: pointer;
                transition: all 0.15s ease-in-out;
                &:hover {
                    color: darken($secondary-color, 40%);
                }
            }
        }
    }
    .wd-btn-top {
        background-color: transparent;
        border: $main-text-color solid 2px;
        color: $main-text-color;
        transition: all 0.3s ease-in-out;
        width: 30%;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        line-height: normal;
        width: auto;

        @media screen and (max-width: 767px) {
            align-self: flex-end;
        }
        &:hover {
            background-color: $main-text-color;
            color: black;
        }
    }
    #eventsRow {
        @media screen and (max-width: 767px) {
            padding-top: 100px;
        }
        .card {
            background-color: #000;
            border: #d5f710 solid 2px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            .card-header {
                border-bottom: #d5f710 solid 2px;
                color: #f3f3f3;
                font-size: 15px;
            }
            .card-body {
                color: #f3f3f3;
                .card-title {
                    font-size: 30px;
                    margin-bottom: 20px;
                    font-family: "Montserrat", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 800;
                    font-style: normal;
                    line-height: normal;
                    color: #d5f710;
                    text-align: center;
                }
                .card-text {
                    font-size: 16px;
                    font-family: "Montserrat", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                    color: #f3f3f3ad;
                    span {
                        color: #f3f3f3;
                    }
                }
            }
            .card-footer {
                align-self: flex-end;
                border-top: #d5f710 solid 2px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 10px;
            }
        }
    }
}
